.mt-20 {
    margin-top: 20px;
}

.result {
    background-color: lightgray;
}

.calc-bar {
    background-color: #f1f5f8;
    border: 1px solid #dddddd;
    padding: 10px;
    margin: 10px 20px 10px 2px;
    border-radius: 5px;
    text-align: right;
    letter-spacing: 4px;
    font-size: 1.5em;
    color: #444444;
}